body {
    background: #000000;
    color: #ffffff
    
}

nav {
	text-align: center;
}

h1 {
  font-size: 400%;
  text-align: center;
}
h3 {font-size: 150%;
    color: lime;
}
#box_1 {
    width: 28%;
    padding: 0px;
    float: left;
    border: 5px solid black;
    margin-right: 10px;
    margin-top: 10px;
}
#box_1:hover {
  border: 5px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #000000;
    color: white;
}

.active {
    background-color: #ffffff;
    color: black;
    
}
#portrait {
  border: 5px solid white;
  margin-right: 10px;
    min-width: 200px;
}
#box_2 {
    width: 275px;
    padding: 10px;
    float: left;
    border: 5px solid lime green;
    margin-right: 10px;
    margin-top: 10px;
}
  #icon {
    float: left;
    margin-right: 10px;
  }
#box_2:hover {
  background-color: white;
  color: blue;
}
#intro {
  max-width: 75%;
}
#portfoliostyle {
  margin-bottom: 65%;
  margin-bottom: calc(60% + 100px);
}
#resumestyle {
  clear: left;
  margin-bottom: 200px;
}
#connectstyle {
  clear: left
}
